<ion-content [fullscreen]="true">
  
  <div id="container">
    <div *ngIf="grid.length > 0">
      <div class="row" *ngFor="let row of grid; let x = index">
        <div (click)="selectCell(x, y)" class="column" [ngClass]="{'cellPlayed': grid[x][y] != '', 'cellWin':cellsWinner.includes(x+','+y)}"
        *ngFor="let column of row; let y = index;">
          <span >{{grid[x][y]}}</span>
        </div>
      </div>
    </div>

    <div class="infoSection">
      <div *ngIf="!hasWinner && !isDraw">
        <p>Es el turno de <span>{{playerTurn}}</span></p> 
        <p>Turnos restantes por jugar: <span>{{getEmptySpacesCount()}}</span></p>
      </div>
      <div *ngIf="hasWinner && !isDraw">
        <p>Ganador: <span>{{playerTurn}}</span></p>
        <img src="../../../assets/images/winGame.png" alt="" srcset="">
      </div>
      <div *ngIf="isDraw">
        <p>Empate!!</p>
        <img  src="../../../assets/images/drawGame.png" alt="" srcset="">
      </div>

    </div>
    <div class="buttons">
      <button *ngIf="getEmptySpacesCount() != 9" (click)="resetGame()">Reiniciar partida</button>
      <button (click)="backToHomePage()">Volver al menú principal</button>
    </div>
  </div>
  

</ion-content>
