ion-content {
  --background: #000000d1;
}


#container {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;

  .row {
    display: inline-flex;
    justify-content: center;

    .column {
      border: 1px solid black;
      // height: 90px;
      // width: 100px;
      height: 35px;
      width: 35px;
      background-color: white;
      font-size: 1.50rem;

      &.cellPlayed {
        background-color: #ff8d00;
      }

      &.cellWin {
        background-color: #35b535;
      }
    }
  }

  .buttons {
    width: 65%;
    margin: auto;
    margin-top: 5%;

    button {
      border: 3px solid black;
      font-size: 1.10rem;
      border-radius: 30px;
      padding: 10px;
      margin-bottom: 5%;
      font-weight: bold;
      width: -webkit-fill-available;
    }
  }


}





.ws-area,
.ws-words {
  display: inline-block;
  vertical-align: top;
}




ul {
  width: 100%;

  &.ws-words {
    text-align: left;
    color: orange;
    font-weight: bold;
    margin-right: 100%;
    list-style-type: decimal;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;

    li {
      float: left;
      height: 100px;
      margin: 0 10px 10px 0;
      width: 100px;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

}


// .ws-word {
//   margin-bottom: 4px;
// }

// .ws-words ::first-letter {
//   text-transform: capitalize;
// }

/* Wordsearch */

.ws-area {
  background: #fafafa;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ws-row {
  line-height: 0;
}


.ws-col.ws-selected {
  background: #eee;
}

.ws-found {
  background: yellow;
}